main{
    background-color: #FCF1EE;
    width: 100%;
    height: max-content;
    display: inline;
    justify-content: center;
    align-items: center;

}

.destaque{
    color: #462402;
    font-size: 3rem;
}


.imagem-container{
    display: flex;
    gap: 20px;
    padding: 9px;
    align-items: center;
    list-style: none;
}


.imagem-container img{
    height: 400px;
    flex-grow: 1;
    border: 1px solid salmon;
}

.promocoes{
    color: #462402;
    font-size: 3rem;
}


.imagem-promocao-container{
    display: flex;
    gap: 20px;
    padding: 9px;
    align-items: center;
    list-style: none;
}


.imagem-promocao-container img{
    height: 400px;
    flex-grow: 1;
    border: 1px solid salmon;
}

.imagem-promocao-container li>h3{
    font-size: 1.5rem;
}