*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html, body{
   font-family: poppins;
   background: #fedddd ;
}

header{
    display: flex ;
    justify-content: space-between;
    width: 100%;
    height: 150px;
    background-color: #462402;
}

.titulo-site{
    color: #FCF1EE;
    display: block;
    font-size: 1.5rem;
    font-family: 'PT Serif', serif;
    margin-bottom: 30px;

}

.wrapper{
    position: absolute;
    top: 20%;
    left: 60%;
    transform: translate(-50%, -50%);
    width:55% ;
    display: flex;
}

.box{
    position: relative;
    width: 120px;
    text-align: center;
    float: left;
    margin: 0 10;
    display: block;
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-transform: uppercase;
    justify-content: space-around;
    display: block;
}

a:hover{
    color: rgb(28, 28, 28);
}
a::before{
    content: '';
    position: absolute;
    background: #46240267;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    animation: 1s forwards ani1 linear;
    z-index: -1;
}

a:hover:before,
a:focus:before{
    animation: .5s forwards ani2 linear;
}

@keyframes ani2{
    0%{
        transform: scaleX(0);
        height: 5px;
    }
    45%{
        transform: scaleX(1);
        height: 5px;
    }
    55%{
        height: 5px;
    }
    100%{
        transform: scaleX(1);
        height: 40px;
    }
}

@keyframes ani1{
    0%{
        transform: scaleX(1);
        height: 40px;
    }
    45%{
        height: 5px;
    }
    55%{
        transform: scaleX(1);
        height: 5px;
        opacity: 1;
    }
    100%{
        transform: scaleX(0);
        height: 5px;
        opacity: .02;
    }
}

.baner{
    width: 203vh;
    height: 900px;
    background: url(../img/freteBaner.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;

}



footer{
    width: 100%;
    height: 70px;
    color: #FCF1EE;
    text-align: center;
    background-color: #462402;
}