*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    color: #000;
    border: none;
}

textarea:focus, input:focus{
    outline: none;
}

a{
    font-size: .8rem;
}


#login-container{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 10vh;
    border-radius: 10px;
    text-align: center;
    border: 2px solid #000;

}

form{
    margin-top: 30px;
    margin-bottom: 40px;
}

label, input{
    display: block;
    width: 100%;
    text-align: left;
}

label{
    font-weight: bolder;
    font-size: 1rem;
}

input{
    border-bottom: 2px solid #000;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
}

input:focus{
    border-bottom: 2px solid rgb(92, 87, 87);
}

input[type="submit"]{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    margin-top: 30px;
    color: #fff;
    background-color: salmon;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: rgb(197, 100, 89);
    transition: .5s;
}
